.social-icon {
  display: block;
  height: 5em;
  padding: 0.5em;
}

.facebook {
  height: 75%;
  content: url(./assets/facebook.svg);
}

.instagram {
  height: 75%;
  content: url(./assets/instagram.svg);
}

.strava {
  height: 75%;
  content: url(./assets/strava.svg);
}

.google {
  position: relative;
  height: 94.8%;
  top: 18.3%;
  content: url(./assets/google.svg);
}

.github {
  height: 75%;
  content: url(./assets/github.svg);
}

